// Import global styles
@import "../../../assets/styles/global.scss";

// Styling for the container element
.container {
  width: 270px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid;

  // Styling for the image inside the container
  > img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  // Styling for the nested div element
  > div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    // Styling for the nft_name class inside the nested div
    .nft_name {
      font-size: 19px;
      font-weight: 700;
    }

    // Apply the whiteUnderlineHover style using @extend to the description class
    .description {
      @extend .whiteUnderlineHover;
    }
  }
}
