// Importing variables from the styles module
@import "../../assets/styles/variables.scss";

// Styling for a container element
.container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  // Styling for a textarea inside the container
  > textarea {
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 7px;
  }

  // Styling for a paragraph inside the container
  > p {
    text-align: center;
    color: $error; // Using the $error variable for the text color
    font-size: 14px;
  }
}

// Styling for elements with the "label_error" class
.label_error {
  color: $error; // Using the $error variable for the text color
}

// Styling for elements with the "textarea_error" class
.textarea_error {
  border-color: $error; // Using the $error variable for the border color
}
