// Importing variables from styles
@import "../../../assets/styles/variables.scss";

// Styling for the container
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: $basicWhite;
  gap: 20px;

  // Styling for the loader
  .loader {
    padding: 70px 0;
  }

  // Styling for the blog section
  .blog {
    padding: 20px;
  }
}

// Media query for mobile screens
@media (max-width: $mobile-screen) {
  .blog {
    > div {
      > div,
      p {
        font-size: 3.8vw !important;
      }
      > h3 {
        font-size: 4.8vw;
      }
    }
  }
}
